<%= form_with model: user do |form| %>
  <li>
    <%= form.label :username %>
    <%= form.text_field :username%>
  </li>
  <li>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </li>
  <li>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </li>

  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.submit%>
<% end %>