<style>
  label {
      display: block;
  }

  li {
      list-style: none;
  }
</style>
<h1>New User</h1>

<%= form_with model: @user do |form| %>
  <li>
    <%= form.label :username %>
    <%= form.text_field :username%>
  </li>
  <li>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </li>
  <li>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </li>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.submit "Sign up!" %>
<% end %>





<%#= form_tag '/users' do %>
<!--  <ul>-->
<!--    <li>-->
      <%#= label_tag 'username' %>
      <%#= text_field_tag 'username' %>
<!--    </li>-->
    
<!--    <li>-->
      <%#= label_tag 'email' %>
      <%#= email_field_tag 'email' %>
<!--    </li>-->
    
<!--    <li>-->
      <%#= label_tag 'password' %>
      <%#= password_field_tag 'password' %>
<!--    </li>-->
<!--  </ul>-->

  <%#= submit_tag "Sign up" %>
<%# end %>

<!--<form action="/users" method="post" accept-charset="UTF-8">-->
<!--  <ul>-->
<!--    <li>-->
<!--      <label for="username">Username</label>-->
<!--      <input type="text" id="username" name="user[username]" />-->
<!--    </li>-->

<!--    <li>-->
<!--      <label for="email">Email</label>-->
<!--      <input type="email" id="email" name="user[email]" />-->
<!--    </li>-->

<!--    <li>-->
<!--      <label for="password">Password</label>-->
<!--      <input type="password" id="password" name="user[password]" />-->
<!--    </li>-->
<!--  </ul>-->
<!--  <button type="submit">Create new user</button>-->
<!--</form>-->